
<div class="ekart--header">
    <div class="ekart-logo">
        <!-- <img src="images/logo.jpeg"> -->
        eKart
    </div>
    <div class="ekart--header--nav">
        <!--Top Menu-->
        <top-menu></top-menu>
        <div class="ekart--bottom--bar">
            <!--Main Menu-->
            <main-menu></main-menu>
        </div>
        
    </div>
</div>

<!-- 


<div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary">
        <div class="logo">
            <h1>kart</h1>
             <img src="" alt="logo.png"> -->
        <!-- </div>
        <div>
            <div class="top-navbar">
                <div>
                    <ul class="top-navbar-list">
                        <li><a>Home</a></li>
                        <li><a>about</a></li>
                        <li><a>contact</a></li>
                        <li><a>help</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Hello, customer</h6> -->
                     <!-- <a href="">profile</a> -->
                    <!-- <a>signup/login</a>
                </div>
            </div>
            <div class="bottom-navbar">
                <div class="search-navbar">
                    <input type="text">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div>
                    <a>orders</a>
                    <a><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </nav>
</div> -->
